# Pandas

Материалы:
* Макрушин С.В. "Лекция 2: Библиотека Pandas"
* https://pandas.pydata.org/docs/user_guide/index.html#
* https://pandas.pydata.org/docs/reference/index.html
* Уэс Маккини. Python и анализ данных

## Задачи для совместного разбора

1. Загрузите данные из файла `sp500hst.txt` и обозначьте столбцы в соответствии с содержимым: `"date", "ticker", "open", "high", "low", "close", "volume"`.

2. Рассчитайте среднее значение показателей для каждого из столбцов c номерами 3-6.

3. Добавьте столбец, содержащий только число месяца, к которому относится дата.

4. Рассчитайте суммарный объем торгов для для одинаковых значений тикеров.

5. Загрузите данные из файла sp500hst.txt и обозначьте столбцы в соответствии с содержимым: "date", "ticker", "open", "high", "low", "close", "volume". Добавьте столбец с расшифровкой названия тикера, используя данные из файла `sp_data2.csv` . В случае нехватки данных об именах тикеров корректно обработать их.

## Лабораторная работа №2

### Базовые операции с `DataFrame`

1.1 В файлах `recipes_sample.csv` и `reviews_sample.csv` находится информация об рецептах блюд и отзывах на эти рецепты соответственно. Загрузите данные из файлов в виде `pd.DataFrame` с названиями `recipes` и `reviews`. Обратите внимание на корректное считывание столбца с индексами в таблице `reviews` (безымянный столбец).

In [1]:
import pandas as pd

# Загрузка данных из файлов в виде DataFrame
recipes = pd.read_csv('recipes_sample.csv')

# Учитываем корректное считывание столбца с индексами в таблице reviews
reviews = pd.read_csv('reviews_sample.csv')
reviews = reviews.rename(columns={'Unnamed: 0':'review_id'})

In [2]:
recipes

,name,id,minutes,contributor_id,submitted,n_steps,description,n_ingredients
0,george s at the cove black bean soup,44123,90,35193,2002-10-25,NaN,an original recipe created by chef scott meska...,18.0
1,healthy for them yogurt popsicles,67664,10,91970,2003-07-26,NaN,my children and their friends ask for my homem...,NaN
2,i can t believe it s spinach,38798,30,1533,2002-08-29,NaN,"these were so go, it surprised even me.",8.0
3,italian gut busters,35173,45,22724,2002-07-27,NaN,my sister-in-law made these for us at a family...,NaN
4,love is in the air beef fondue sauces,84797,25,4470,2004-02-23,4.0,i think a fondue is a very romantic casual din...,NaN
...,...,...,...,...,...,...,...,...
29995,zurie s holey rustic olive and cheddar bread,267661,80,200862,2007-11-25,16.0,this is based on a french recipe but i changed...,10.0
29996,zwetschgenkuchen bavarian plum cake,386977,240,177443,2009-08-24,NaN,"this is a traditional fresh plum cake, thought...",11.0
29997,zwiebelkuchen southwest german onion cake,103312,75,161745,2004-11-03,NaN,this is a traditional late summer early fall s...,NaN
29998,zydeco soup,486161,60,227978,2012-08-29,NaN,this is a delicious soup that i originally fou...,NaN
29999,cookies by design cookies on a stick,298512,29,506822,2008-04-15,9.0,"i've heard of the 'cookies by design' company,...",10.0

1.2 Для каждой из таблиц выведите основные параметры:
* количество точек данных (строк);
* количество столбцов;
* тип данных каждого столбца.

In [25]:
# Выводим количество строк (индексов) в датафрейме 
print(len(reviews.index))

# Выводим количество столбцов в датафрейме 
print(len(reviews.columns))

# Выводим количество строк (индексов) в датафрейме 
print(len(recipes.index))

# Выводим количество столбцов в датафрейме 
print(len(recipes.columns))

126696
6
30000
11

In [24]:
# Выводим количество строк (индексов) в датафрейме 
print(len(recipes.index))

# Выводим количество столбцов в датафрейме 
print(len(recipes.columns))

# Выводим типы данных для каждого столбца в датафрейме 
print(recipes.dtypes)

30000
11
name                          object
id                             int64
minutes                        int64
contributor_id                 int64
submitted             datetime64[ns]
n_steps                      float64
description                   object
n_ingredients                float64
description_length             int64
name_word_count                int64
year                           int64
dtype: object

1.3 Исследуйте, в каких столбцах таблиц содержатся пропуски. Посчитайте долю строк, содержащих пропуски, в отношении к общему количеству строк.

In [5]:
# Выводим сумму пропущенных значений (NaN) для каждого столбца в датафрейме 
print(reviews.isna().sum())

# Вычисляем процент строк с пропущенными значениями в датафрейме 
(len(reviews) - len(reviews.dropna())) / len(reviews)

review_id     0
user_id       0
recipe_id     0
date          0
rating        0
review       17
dtype: int64

0.00013417945317926376

In [6]:
# Выводим сумму пропущенных значений (NaN) для каждого столбца в датафрейме 
print(recipes.isna().sum())

# Вычисляем процент строк с пропущенными значениями в датафрейме 
(len(recipes) - len(recipes.dropna())) / len(recipes)

name                  0
id                    0
minutes               0
contributor_id        0
submitted             0
n_steps           11190
description         623
n_ingredients      8880
dtype: int64

0.5684666666666667

1.4 Рассчитайте среднее значение для каждого из числовых столбцов (где это имеет смысл).

In [7]:
# Импортируем модуль is_numeric_dtype из библиотеки pandas.api.types
from pandas.api.types import is_numeric_dtype

# Цикл по каждому столбцу в датафрейме reviews
for i in reviews:
    # Если столбец является числовым, выводим среднее значение
    if is_numeric_dtype(reviews[i]):
        print(f'Среднее значение для столбца {i}: {reviews[i].mean()}')

# Цикл по каждому столбцу в датафрейме recipes
for i in recipes:
    # Если столбец является числовым, выводим среднее значение
    if is_numeric_dtype(recipes[i]):
        print(f'Среднее значение для столбца {i}: {recipes[i].mean()}')

Cреднее значение для столбца review_id: 566089.8211466818
Cреднее значение для столбца user_id: 140801264.7374108
Cреднее значение для столбца recipe_id: 160094.38706036497
Cреднее значение для столбца rating: 4.410802235271832
Cреднее значение для столбца id: 221879.294
Cреднее значение для столбца minutes: 123.35813333333333
Cреднее значение для столбца contributor_id: 5635900.5728
Cреднее значение для столбца n_steps: 9.805582137161085
Cреднее значение для столбца n_ingredients: 9.008285984848484

In [8]:
# Создаем список столбцов, для которых будем выводить среднее значение
column_list=['minutes', 'n_steps', 'n_ingredients']

# Выводим среднее значение для столбца "rating" в датафрейме reviews
print(f'Среднее значение для столбца rating: {(reviews["rating"].mean())}')

# Выводим среднее значение для каждого столбца в списке column_list в датафрейме 
print()
for i in column_list:
    print(f'Среднее значение для столбца {i}: {recipes[i].mean()}')

Cреднее значение для столбца rating: 4.410802235271832

Cреднее значение для столбца minutes: 123.35813333333333
Cреднее значение для столбца n_steps: 9.805582137161085
Cреднее значение для столбца n_ingredients: 9.008285984848484

1.5 Создайте серию из 10 случайных названий рецептов.

In [9]:
# Импортируем модуль random из библиотеки numpy под именем rd
from numpy import random as rd

# Создаем список из 10 случайных названий рецептов из датафрейма 
recipes_list = [recipes['name'][rd.randint(len(recipes))] for i in range(10)]

# Сортируем список recipes_list
sorted(recipes_list)

['beebee s blackberry jam pie',
 'grilled salmon fajita packets',
 'italian style lamb shanks',
 'lemon dijon green beans',
 'root mash',
 'saki shrimp kabobs',
 'scallops in champagne sauce',
 'shrimp and mango appetizer',
 'texas chewy pralines',
 'very low fat tomato alfredo sauce']

1.6 Измените индекс в таблице `reviews`, пронумеровав строки, начиная с нуля.

In [10]:
# Создаем копию датафрейма  
reviews1 = reviews.copy()

reviews

,review_id,user_id,recipe_id,date,rating,review
0,370476,21752,57993,2003-05-01,5,Last week whole sides of frozen salmon fillet ...
1,624300,431813,142201,2007-09-16,5,So simple and so tasty! I used a yellow capsi...
2,187037,400708,252013,2008-01-10,4,"Very nice breakfast HH, easy to make and yummy..."
3,706134,2001852463,404716,2017-12-11,5,These are a favorite for the holidays and so e...
4,312179,95810,129396,2008-03-14,5,Excellent soup! The tomato flavor is just gre...
...,...,...,...,...,...,...
126691,1013457,1270706,335534,2009-05-17,4,This recipe was great! I made it last night. I...
126692,158736,2282344,8701,2012-06-03,0,This recipe is outstanding. I followed the rec...
126693,1059834,689540,222001,2008-04-08,5,"Well, we were not a crowd but it was a fabulou..."
126694,453285,2000242659,354979,2015-06-02,5,I have been a steak eater and dedicated BBQ gr...
126695,691207,463435,415599,2010-09-30,5,Wonderful and simple to prepare seasoning blen...

In [11]:
# Сбрасываем индекс в датафрейме reviews1 и удаляем столбец "index"
reviews1.reset_index().drop('index', axis=1)

,review_id,user_id,recipe_id,date,rating,review
0,370476,21752,57993,2003-05-01,5,Last week whole sides of frozen salmon fillet ...
1,624300,431813,142201,2007-09-16,5,So simple and so tasty! I used a yellow capsi...
2,187037,400708,252013,2008-01-10,4,"Very nice breakfast HH, easy to make and yummy..."
3,706134,2001852463,404716,2017-12-11,5,These are a favorite for the holidays and so e...
4,312179,95810,129396,2008-03-14,5,Excellent soup! The tomato flavor is just gre...
...,...,...,...,...,...,...
126691,1013457,1270706,335534,2009-05-17,4,This recipe was great! I made it last night. I...
126692,158736,2282344,8701,2012-06-03,0,This recipe is outstanding. I followed the rec...
126693,1059834,689540,222001,2008-04-08,5,"Well, we were not a crowd but it was a fabulou..."
126694,453285,2000242659,354979,2015-06-02,5,I have been a steak eater and dedicated BBQ gr...
126695,691207,463435,415599,2010-09-30,5,Wonderful and simple to prepare seasoning blen...

In [12]:
recipes

,name,id,minutes,contributor_id,submitted,n_steps,description,n_ingredients
0,george s at the cove black bean soup,44123,90,35193,2002-10-25,NaN,an original recipe created by chef scott meska...,18.0
1,healthy for them yogurt popsicles,67664,10,91970,2003-07-26,NaN,my children and their friends ask for my homem...,NaN
2,i can t believe it s spinach,38798,30,1533,2002-08-29,NaN,"these were so go, it surprised even me.",8.0
3,italian gut busters,35173,45,22724,2002-07-27,NaN,my sister-in-law made these for us at a family...,NaN
4,love is in the air beef fondue sauces,84797,25,4470,2004-02-23,4.0,i think a fondue is a very romantic casual din...,NaN
...,...,...,...,...,...,...,...,...
29995,zurie s holey rustic olive and cheddar bread,267661,80,200862,2007-11-25,16.0,this is based on a french recipe but i changed...,10.0
29996,zwetschgenkuchen bavarian plum cake,386977,240,177443,2009-08-24,NaN,"this is a traditional fresh plum cake, thought...",11.0
29997,zwiebelkuchen southwest german onion cake,103312,75,161745,2004-11-03,NaN,this is a traditional late summer early fall s...,NaN
29998,zydeco soup,486161,60,227978,2012-08-29,NaN,this is a delicious soup that i originally fou...,NaN
29999,cookies by design cookies on a stick,298512,29,506822,2008-04-15,9.0,"i've heard of the 'cookies by design' company,...",10.0

1.7 Выведите информацию о рецептах, время выполнения которых не больше 20 минут и кол-во ингредиентов в которых не больше 5.

In [13]:
# Создаем новый датафрейм recipes_res, содержащий рецепты,
recipes_res = recipes[recipes['minutes']<=20][recipes[recipes['minutes']<=20]['n_ingredients']<=5]

recipes_res

,name,id,minutes,contributor_id,submitted,n_steps,description,n_ingredients
28,quick biscuit bread,302399,20,213909,2008-05-06,11.0,this is a wonderful quick bread to make as an ...,5.0
60,peas fit for a king or queen,303944,20,213909,2008-05-16,NaN,this recipe is so simple and the flavors are s...,5.0
90,hawaiian sunrise mimosa,100837,5,58104,2004-09-29,4.0,pineapple mimosa was changed to hawaiian sunri...,3.0
91,tasty dish s banana pudding in 2 minutes,286484,2,47892,2008-02-13,NaN,"""mmmm, i love bananas!"" a --tasty dish-- origi...",4.0
94,1 minute meatballs,11361,13,4470,2001-09-03,NaN,this is a real short cut for cooks in a hurry....,2.0
...,...,...,...,...,...,...,...,...
29873,zip and steam red potatoes with butter and garlic,304922,13,724218,2008-05-27,9.0,"i haven't tried this yet, but i am going to so...",5.0
29874,ziplock vanilla ice cream,74250,10,24386,2003-10-29,8.0,a fun thing for kids to do. may want to use mi...,3.0
29905,zucchini and corn with cheese,256177,15,305531,2007-09-29,4.0,from betty crocker fresh spring recipes. i lik...,5.0
29980,zucchini with jalapeno monterey jack,320622,10,305531,2008-08-20,3.0,simple and yummy!,3.0
29983,zucchini with serrano ham,162411,15,152500,2006-03-31,6.0,"this dish is from tim malzer, a german chef wh...",5.0

### Работа с датами в `pandas`

2.1 Преобразуйте столбец `submitted` из таблицы `recipes` в формат времени. Модифицируйте решение задачи 1.1 так, чтобы считать столбец сразу в нужном формате.

In [14]:
# Читаем данные из файла recipes_sample.csv
# и сохраняем их в переменную recipes в виде датафрейма pandas
recipes = pd.read_csv('recipes_sample.csv', parse_dates=['submitted'], header=0)

recipes

,name,id,minutes,contributor_id,submitted,n_steps,description,n_ingredients
0,george s at the cove black bean soup,44123,90,35193,2002-10-25,NaN,an original recipe created by chef scott meska...,18.0
1,healthy for them yogurt popsicles,67664,10,91970,2003-07-26,NaN,my children and their friends ask for my homem...,NaN
2,i can t believe it s spinach,38798,30,1533,2002-08-29,NaN,"these were so go, it surprised even me.",8.0
3,italian gut busters,35173,45,22724,2002-07-27,NaN,my sister-in-law made these for us at a family...,NaN
4,love is in the air beef fondue sauces,84797,25,4470,2004-02-23,4.0,i think a fondue is a very romantic casual din...,NaN
...,...,...,...,...,...,...,...,...
29995,zurie s holey rustic olive and cheddar bread,267661,80,200862,2007-11-25,16.0,this is based on a french recipe but i changed...,10.0
29996,zwetschgenkuchen bavarian plum cake,386977,240,177443,2009-08-24,NaN,"this is a traditional fresh plum cake, thought...",11.0
29997,zwiebelkuchen southwest german onion cake,103312,75,161745,2004-11-03,NaN,this is a traditional late summer early fall s...,NaN
29998,zydeco soup,486161,60,227978,2012-08-29,NaN,this is a delicious soup that i originally fou...,NaN
29999,cookies by design cookies on a stick,298512,29,506822,2008-04-15,9.0,"i've heard of the 'cookies by design' company,...",10.0

2.2 Выведите информацию о рецептах, добавленных в датасет не позже 2010 года.

In [15]:
import datetime as dt

# Создаем новый датафрейм recipes_res_2, содержащий рецепты,
# у которых год отправки не превышает 2010
recipes_res_2 = recipes[recipes['submitted'].dt.year<=2010]

recipes_res_2

,name,id,minutes,contributor_id,submitted,n_steps,description,n_ingredients
0,george s at the cove black bean soup,44123,90,35193,2002-10-25,NaN,an original recipe created by chef scott meska...,18.0
1,healthy for them yogurt popsicles,67664,10,91970,2003-07-26,NaN,my children and their friends ask for my homem...,NaN
2,i can t believe it s spinach,38798,30,1533,2002-08-29,NaN,"these were so go, it surprised even me.",8.0
3,italian gut busters,35173,45,22724,2002-07-27,NaN,my sister-in-law made these for us at a family...,NaN
4,love is in the air beef fondue sauces,84797,25,4470,2004-02-23,4.0,i think a fondue is a very romantic casual din...,NaN
...,...,...,...,...,...,...,...,...
29993,zuni caf zucchini pickles,316950,2895,62264,2008-07-31,NaN,refrigerator pickles for some of the zucchini ...,8.0
29995,zurie s holey rustic olive and cheddar bread,267661,80,200862,2007-11-25,16.0,this is based on a french recipe but i changed...,10.0
29996,zwetschgenkuchen bavarian plum cake,386977,240,177443,2009-08-24,NaN,"this is a traditional fresh plum cake, thought...",11.0
29997,zwiebelkuchen southwest german onion cake,103312,75,161745,2004-11-03,NaN,this is a traditional late summer early fall s...,NaN
29999,cookies by design cookies on a stick,298512,29,506822,2008-04-15,9.0,"i've heard of the 'cookies by design' company,...",10.0

### Работа со строковыми данными в `pandas`

3.1  Добавьте в таблицу `recipes` столбец `description_length`, в котором хранится длина описания рецепта из столбца `description`.

In [16]:
# Добавляем новый столбец 'description_length' в датафрейм recipes,
# содержащий длину описания каждого рецепта в символах
recipes = recipes.assign(description_length=list(len(str(recipes['description'][i])) for i in range(len(recipes)))

recipes

,name,id,minutes,contributor_id,submitted,n_steps,description,n_ingredients,description_length
0,george s at the cove black bean soup,44123,90,35193,2002-10-25,NaN,an original recipe created by chef scott meska...,18.0,330
1,healthy for them yogurt popsicles,67664,10,91970,2003-07-26,NaN,my children and their friends ask for my homem...,NaN,255
2,i can t believe it s spinach,38798,30,1533,2002-08-29,NaN,"these were so go, it surprised even me.",8.0,39
3,italian gut busters,35173,45,22724,2002-07-27,NaN,my sister-in-law made these for us at a family...,NaN,154
4,love is in the air beef fondue sauces,84797,25,4470,2004-02-23,4.0,i think a fondue is a very romantic casual din...,NaN,587
...,...,...,...,...,...,...,...,...,...
29995,zurie s holey rustic olive and cheddar bread,267661,80,200862,2007-11-25,16.0,this is based on a french recipe but i changed...,10.0,484
29996,zwetschgenkuchen bavarian plum cake,386977,240,177443,2009-08-24,NaN,"this is a traditional fresh plum cake, thought...",11.0,286
29997,zwiebelkuchen southwest german onion cake,103312,75,161745,2004-11-03,NaN,this is a traditional late summer early fall s...,NaN,311
29998,zydeco soup,486161,60,227978,2012-08-29,NaN,this is a delicious soup that i originally fou...,NaN,648
29999,cookies by design cookies on a stick,298512,29,506822,2008-04-15,9.0,"i've heard of the 'cookies by design' company,...",10.0,125

3.2 Измените название каждого рецепта в таблице `recipes` таким образом, чтобы каждое слово в названии начиналось с прописной буквы.

In [17]:
# Проходим по первым 10 рецептам в датафрейме 
for i in range(10):
    # Получаем название рецепта
    q = recipes['name'][i]
    # Заменяем название рецепта на версию с заглавной первой буквой
    recipes = recipes.replace(q, q[0].upper() + q[1:])

# Выводим обновленный датафрейм recipes с названиями рецептов, у которых первая буква стала заглавной
recipes

,name,id,minutes,contributor_id,submitted,n_steps,description,n_ingredients,description_length
0,George s at the cove black bean soup,44123,90,35193,2002-10-25,NaN,an original recipe created by chef scott meska...,18.0,330
1,Healthy for them yogurt popsicles,67664,10,91970,2003-07-26,NaN,my children and their friends ask for my homem...,NaN,255
2,I can t believe it s spinach,38798,30,1533,2002-08-29,NaN,"these were so go, it surprised even me.",8.0,39
3,Italian gut busters,35173,45,22724,2002-07-27,NaN,my sister-in-law made these for us at a family...,NaN,154
4,Love is in the air beef fondue sauces,84797,25,4470,2004-02-23,4.0,i think a fondue is a very romantic casual din...,NaN,587
...,...,...,...,...,...,...,...,...,...
29995,zurie s holey rustic olive and cheddar bread,267661,80,200862,2007-11-25,16.0,this is based on a french recipe but i changed...,10.0,484
29996,zwetschgenkuchen bavarian plum cake,386977,240,177443,2009-08-24,NaN,"this is a traditional fresh plum cake, thought...",11.0,286
29997,zwiebelkuchen southwest german onion cake,103312,75,161745,2004-11-03,NaN,this is a traditional late summer early fall s...,NaN,311
29998,zydeco soup,486161,60,227978,2012-08-29,NaN,this is a delicious soup that i originally fou...,NaN,648
29999,cookies by design cookies on a stick,298512,29,506822,2008-04-15,9.0,"i've heard of the 'cookies by design' company,...",10.0,125

3.3 Добавьте в таблицу `recipes` столбец `name_word_count`, в котором хранится количество слов из названии рецепта (считайте, что слова в названии разделяются только пробелами). Обратите внимание, что между словами может располагаться несколько пробелов подряд.

In [18]:
# Добавляем новый столбец 'name_word_count' в датафрейм ,
# содержащий количество слов в названии каждого рецепта
recipes = recipes.assign(name_word_count=list(len(list(filter(None, recipes['name'][i].split()))) for i in range(len(recipes))))

recipes

,name,id,minutes,contributor_id,submitted,n_steps,description,n_ingredients,description_length,name_word_count
0,George s at the cove black bean soup,44123,90,35193,2002-10-25,NaN,an original recipe created by chef scott meska...,18.0,330,8
1,Healthy for them yogurt popsicles,67664,10,91970,2003-07-26,NaN,my children and their friends ask for my homem...,NaN,255,5
2,I can t believe it s spinach,38798,30,1533,2002-08-29,NaN,"these were so go, it surprised even me.",8.0,39,7
3,Italian gut busters,35173,45,22724,2002-07-27,NaN,my sister-in-law made these for us at a family...,NaN,154,3
4,Love is in the air beef fondue sauces,84797,25,4470,2004-02-23,4.0,i think a fondue is a very romantic casual din...,NaN,587,8
...,...,...,...,...,...,...,...,...,...,...
29995,zurie s holey rustic olive and cheddar bread,267661,80,200862,2007-11-25,16.0,this is based on a french recipe but i changed...,10.0,484,8
29996,zwetschgenkuchen bavarian plum cake,386977,240,177443,2009-08-24,NaN,"this is a traditional fresh plum cake, thought...",11.0,286,4
29997,zwiebelkuchen southwest german onion cake,103312,75,161745,2004-11-03,NaN,this is a traditional late summer early fall s...,NaN,311,5
29998,zydeco soup,486161,60,227978,2012-08-29,NaN,this is a delicious soup that i originally fou...,NaN,648,2
29999,cookies by design cookies on a stick,298512,29,506822,2008-04-15,9.0,"i've heard of the 'cookies by design' company,...",10.0,125,7

### Группировки таблиц `pd.DataFrame`

4.1 Посчитайте количество рецептов, представленных каждым из участников (`contributor_id`). Какой участник добавил максимальное кол-во рецептов?

In [23]:
# Преобразуем столбец 'contributor_id' в строку, объединяя его элементы через пробел
a = ' '.join(list(map(str, recipes['contributor_id'])))

# Создаем список уникальных строковых значений 'contributor_id' из датафрейма 
b = list(set(list(map(str, recipes['contributor_id']))))

# Создаем список, содержащий количество вхождений каждого уникального 'contributor_id' в строке a
c = list(a.count(b[i]) for i in range(len(b)))

# Создаем словарь contributor_recipes_counter, содержащий количество рецептов для каждого уникального 'contributor_id',
# сортируем его по количеству рецептов в обратном порядке
contributor_recipes_counter = dict(sorted({key: value for key, value in zip(b, c)}.items(), key=lambda x: x[1], reverse=True))

4.2 Посчитайте средний рейтинг к каждому из рецептов. Для скольких рецептов отсутствуют отзывы? Обратите внимание, что отзыв с нулевым рейтингом или не заполненным текстовым описанием не считается отсутствующим.

In [20]:
reviews

,review_id,user_id,recipe_id,date,rating,review
0,370476,21752,57993,2003-05-01,5,Last week whole sides of frozen salmon fillet ...
1,624300,431813,142201,2007-09-16,5,So simple and so tasty! I used a yellow capsi...
2,187037,400708,252013,2008-01-10,4,"Very nice breakfast HH, easy to make and yummy..."
3,706134,2001852463,404716,2017-12-11,5,These are a favorite for the holidays and so e...
4,312179,95810,129396,2008-03-14,5,Excellent soup! The tomato flavor is just gre...
...,...,...,...,...,...,...
126691,1013457,1270706,335534,2009-05-17,4,This recipe was great! I made it last night. I...
126692,158736,2282344,8701,2012-06-03,0,This recipe is outstanding. I followed the rec...
126693,1059834,689540,222001,2008-04-08,5,"Well, we were not a crowd but it was a fabulou..."
126694,453285,2000242659,354979,2015-06-02,5,I have been a steak eater and dedicated BBQ gr...
126695,691207,463435,415599,2010-09-30,5,Wonderful and simple to prepare seasoning blen...

In [21]:
# Создаем отсортированный список уникальных идентификаторов рецептов из датафрейма 
a = sorted(list(set(list(recipes['id']))))

# Создаем отсортированный список уникальных идентификаторов рецептов из датафрейма 
b = sorted(list(set(list(reviews['recipe_id']))))

# Инициализируем переменную k для подсчета рецептов без отзывов
k = 0

# Проверяем соответствие идентификаторов рецептов в обоих списках
for i in range(len(b)):
    if a[i] != b[i]:
        a.remove(a[i])
        k += 1

# Выводим количество рецептов, для которых отсутствуют отзывы
print(f'Отзывы отсутствуют для {k} рецептов')

# Создаем словарь average_rating, содержащий средний рейтинг для каждого рецепта
average_rating = {}
for i in b:
    average_rating[i] = reviews[reviews['recipe_id'] == i]['rating'].mean()

average_rating

Oтзывы отсутствуют для 1900 рецептов

{48: 1.0,
 55: 4.75,
 66: 4.944444444444445,
 91: 4.75,
 94: 5.0,
 128: 5.0,
 148: 0.0,
 153: 3.923076923076923,
 176: 5.0,
 181: 2.6666666666666665,
 186: 4.777777777777778,
 203: 4.071428571428571,
 224: 3.0,
 240: 3.857142857142857,
 246: 4.62962962962963,
 282: 5.0,
 284: 5.0,
 288: 2.6666666666666665,
 289: 5.0,
 314: 4.818181818181818,
 318: 4.75,
 321: 5.0,
 337: 2.0,
 344: 2.0,
 352: 3.75,
 360: 5.0,
 373: 5.0,
 378: 4.625,
 379: 4.666666666666667,
 381: 5.0,
 383: 4.0,
 385: 3.0,
 387: 5.0,
 401: 3.0,
 445: 4.461538461538462,
 465: 5.0,
 469: 3.8,
 502: 5.0,
 504: 5.0,
 544: 4.428571428571429,
 546: 4.666666666666667,
 561: 4.833333333333333,
 587: 4.0,
 635: 5.0,
 651: 4.5,
 653: 5.0,
 658: 4.0,
 659: 4.5,
 671: 4.111111111111111,
 692: 4.0,
 712: 4.0,
 719: 4.3076923076923075,
 779: 5.0,
 884: 4.0,
 916: 4.042105263157895,
 953: 3.0,
 965: 4.714285714285714,
 975: 3.75,
 1045: 0.0,
 1075: 1.0,
 1129: 4.333333333333333,
 1155: 5.0,
 1183: 4.75,
 1322: 4.111111111111111,
 1355: 5.0,
 1379: 5.0,
 1442: 3.3333333333333335,
 1557: 5.0,
 1590: 5.0,
 1595: 3.0,
 1630: 3.75,
 1660: 4.666666666666667,
 1662: 1.5,
 1696: 5.0,
 1725: 4.5,
 1760: 3.0,
 1878: 1.5,
 1902: 3.6666666666666665,
 1975: 5.0,
 2056: 4.741935483870968,
 2068: 5.0,
 2086: 4.142857142857143,
 2129: 4.8,
 2279: 4.0,
 2329: 4.0,
 2386: 4.0,
 2405: 3.5,
 2519: 3.3333333333333335,
 2560: 4.333333333333333,
 2595: 4.0,
 2622: 2.0,
 2633: 5.0,
 2641: 4.875,
 2645: 4.0,
 2658: 4.5,
 2665: 5.0,
 2704: 5.0,
 2724: 5.0,
 2746: 4.5,
 2762: 5.0,
 2771: 5.0,
 2803: 5.0,
 2804: 5.0,
 2814: 4.375,
 2866: 5.0,
 2883: 4.5,
 2889: 4.0,
 2891: 4.857142857142857,
 2902: 4.75,
 2936: 3.3333333333333335,
 2940: 5.0,
 2963: 1.5,
 2974: 4.0,
 2982: 4.75,
 2989: 5.0,
 3002: 0.0,
 3015: 5.0,
 3032: 4.0,
 3045: 5.0,
 3051: 3.923076923076923,
 3065: 4.571428571428571,
 3090: 3.6666666666666665,
 3097: 5.0,
 3119: 5.0,
 3131: 0.0,
 3158: 4.818181818181818,
 3189: 5.0,
 3193: 0.0,
 3212: 3.3333333333333335,
 3224: 4.0,
 3232: 4.0,
 3247: 5.0,
 3252: 3.0,
 3258: 4.5,
 3263: 0.0,
 3271: 5.0,
 3304: 5.0,
 3328: 4.833333333333333,
 3335: 5.0,
 3343: 5.0,
 3401: 5.0,
 3418: 5.0,
 3439: 4.1875,
 3441: 4.741935483870968,
 3446: 5.0,
 3497: 4.833333333333333,
 3520: 4.0,
 3549: 3.75,
 3581: 5.0,
 3594: 4.529411764705882,
 3599: 4.0,
 3616: 4.1,
 3620: 1.0,
 3626: 4.0,
 3653: 4.25,
 3657: 4.5,
 3662: 4.333333333333333,
 3675: 5.0,
 3702: 5.0,
 3717: 4.0,
 3730: 4.785714285714286,
 3731: 4.0,
 3752: 4.0,
 3755: 4.333333333333333,
 3776: 5.0,
 3780: 2.8333333333333335,
 3803: 5.0,
 3806: 4.416666666666667,
 3841: 5.0,
 3870: 5.0,
 3929: 4.365384615384615,
 3941: 5.0,
 3979: 5.0,
 3999: 0.0,
 4035: 5.0,
 4037: 4.0,
 4048: 0.0,
 4052: 4.444444444444445,
 4093: 5.0,
 4098: 0.0,
 4127: 2.4,
 4135: 1.0,
 4146: 3.7142857142857144,
 4150: 4.6,
 4151: 4.7,
 4152: 5.0,
 4161: 5.0,
 4174: 3.0,
 4205: 4.490196078431373,
 4206: 3.0,
 4215: 4.0,
 4235: 4.0,
 4256: 5.0,
 4279: 4.0,
 4380: 5.0,
 4400: 5.0,
 4413: 5.0,
 4425: 1.0,
 4440: 3.0,
 4459: 5.0,
 4464: 4.0,
 4505: 4.0,
 4530: 3.0,
 4543: 5.0,
 4550: 4.0,
 4560: 4.357142857142857,
 4588: 3.75,
 4599: 5.0,
 4609: 0.0,
 4671: 4.0,
 4691: 5.0,
 4699: 4.5,
 4706: 4.0,
 4709: 3.75,
 4717: 5.0,
 4724: 4.8,
 4746: 2.3333333333333335,
 4753: 4.0,
 4755: 4.0,
 4765: 4.363636363636363,
 4797: 4.666666666666667,
 4801: 4.0,
 4826: 3.3333333333333335,
 4834: 3.3333333333333335,
 4874: 4.75,
 4876: 4.222222222222222,
 4893: 2.5,
 4902: 5.0,
 4921: 2.6666666666666665,
 4931: 5.0,
 5006: 3.25,
 5012: 4.714285714285714,
 5016: 3.75,
 5018: 4.2,
 5059: 4.0,
 5077: 5.0,
 5086: 4.5,
 5090: 3.5714285714285716,
 5116: 5.0,
 5121: 4.6,
 5138: 4.0,
 5140: 5.0,
 5148: 5.0,
 5161: 4.666666666666667,
 5184: 4.590909090909091,
 5188: 3.6,
 5197: 5.0,
 5240: 0.0,
 5245: 4.764705882352941,
 5264: 5.0,
 5274: 4.913043478260869,
 5293: 4.4,
 5311: 3.0,
 5322: 4.666666666666667,
 5381: 4.0,
 5386: 4.0,
 5395: 4.0,
 5397: 4.333333333333333,
 5398: 5.0,
 5403: 4.25,
 5418: 4.444444444444445,
 5453: 3.75,
 5454: 4.666666666666667,
 5456: 5.0,
 6442: 4.56,
 6451: 4.0,
 6489: 4.5,
 6517: 5.0,
 6527: 3.0,
 6614: 4.3125,
 6651: 5.0,
 6665: 5.0,
 6746: 5.0,
 6776: 4.5,
 6778: 4.5,
 6790: 4.833333333333333,
 6842: 4.5,
 6848: 4.75,
 6890: 3.0,
 6913: 4.8,
 6924: 4.5,
 6929: 5.0,
 6934: 4.090909090909091,
 6955: 1.6666666666666667,
 6959: 4.666666666666667,
 7030: 5.0,
 7036: 4.451612903225806,
 7038: 5.0,
 7076: 5.0,
 7120: 5.0,
 7123: 1.5,
 7143: 4.5,
 7210: 1.0,
 7339: 5.0,
 7364: 4.5,
 7369: 5.0,
 7379: 0.0,
 7397: 4.368421052631579,
 7404: 4.684210526315789,
 7411: 5.0,
 7414: 4.0,
 7427: 0.0,
 7443: 3.0,
 7476: 4.5,
 7491: 4.666666666666667,
 7525: 4.0,
 7542: 5.0,
 7550: 5.0,
 7556: 4.923076923076923,
 7562: 4.0,
 7573: 4.75,
 7636: 5.0,
 7660: 5.0,
 7665: 3.75,
 7697: 5.0,
 7698: 5.0,
 7724: 4.0,
 7757: 4.0,
 7763: 4.2,
 7841: 4.333333333333333,
 7849: 4.5,
 7850: 2.25,
 7855: 4.0,
 7872: 2.25,
 7894: 4.0,
 7919: 4.0,
 7968: 4.583333333333333,
 7974: 4.5,
 7988: 4.5,
 7993: 4.0,
 7997: 4.0,
 7998: 3.0,
 8029: 4.0,
 8101: 5.0,
 8117: 5.0,
 8134: 0.0,
 8151: 4.0,
 8213: 1.5,
 8266: 4.5,
 8308: 4.0,
 8317: 4.0,
 8323: 2.5,
 8327: 4.0,
 8351: 4.0,
 8380: 4.8,
 8404: 5.0,
 8425: 5.0,
 8432: 4.341463414634147,
 8438: 4.166666666666667,
 8442: 4.5,
 8444: 5.0,
 8448: 5.0,
 8462: 5.0,
 8468: 3.727272727272727,
 8471: 5.0,
 8473: 1.6666666666666667,
 8477: 5.0,
 8481: 4.5,
 8492: 4.875,
 8506: 3.857142857142857,
 8511: 5.0,
 8520: 4.8,
 8524: 3.857142857142857,
 8530: 5.0,
 8555: 4.0,
 8565: 5.0,
 8576: 5.0,
 8596: 4.283018867924528,
 8613: 3.6666666666666665,
 8624: 4.583333333333333,
 8635: 4.818181818181818,
 8639: 4.666666666666667,
 8653: 4.0,
 8674: 4.714285714285714,
 8676: 3.0,
 8701: 4.5372750642673525,
 8710: 4.0,
 8711: 4.0,
 8717: 2.5,
 8736: 5.0,
 8757: 4.323529411764706,
 8765: 4.0,
 8776: 5.0,
 8777: 4.428571428571429,
 8779: 5.0,
 8780: 4.0,
 8791: 4.142857142857143,
 8827: 4.0,
 8843: 4.857142857142857,
 8863: 3.0,
 8874: 4.0,
 8877: 4.5,
 8893: 4.4,
 8899: 3.7916666666666665,
 8928: 4.5,
 8930: 5.0,
 8947: 0.0,
 8957: 4.75,
 8962: 4.0,
 8964: 0.0,
 8969: 4.5588235294117645,
 8983: 3.875,
 9031: 1.5,
 9053: 2.5,
 9054: 3.8666666666666667,
 9070: 5.0,
 9091: 5.0,
 9110: 4.75,
 9121: 5.0,
 9158: 4.5,
 9162: 3.0,
 9166: 3.857142857142857,
 9177: 4.5,
 9181: 4.0,
 9187: 4.4,
 9192: 0.0,
 9202: 5.0,
 9211: 4.0,
 9228: 3.857142857142857,
 9232: 4.5,
 9253: 5.0,
 9257: 4.0,
 9272: 4.551724137931035,
 9285: 5.0,
 9347: 4.909090909090909,
 9357: 0.0,
 9378: 5.0,
 9409: 4.375,
 9420: 5.0,
 9432: 4.166666666666667,
 9443: 5.0,
 9454: 5.0,
 9464: 5.0,
 9501: 1.0,
 9506: 4.333333333333333,
 9520: 4.0,
 9530: 4.5,
 9556: 4.6,
 9715: 4.105263157894737,
 9728: 4.5,
 9736: 4.5,
 9744: 4.0,
 9754: 4.0,
 9771: 5.0,
 9787: 3.0,
 9810: 5.0,
 9823: 4.0,
 9840: 2.5,
 9896: 4.0,
 9909: 4.0,
 9928: 5.0,
 9937: 3.75,
 9943: 4.0,
 9978: 4.142857142857143,
 9982: 4.5,
 9992: 4.0,
 9993: 4.285714285714286,
 10004: 2.0,
 10005: 5.0,
 10006: 4.0,
 10047: 0.0,
 10083: 2.5,
 10095: 4.833333333333333,
 10112: 5.0,
 10120: 5.0,
 10140: 3.935483870967742,
 10157: 4.75,
 10183: 4.333333333333333,
 10221: 4.8,
 10239: 4.777777777777778,
 10240: 2.5,
 10286: 5.0,
 10297: 4.6,
 10301: 4.5,
 10305: 3.0,
 10306: 4.666666666666667,
 10340: 5.0,
 10404: 4.475,
 10443: 4.454545454545454,
 10445: 4.722222222222222,
 10446: 3.5,
 10456: 5.0,
 10487: 5.0,
 10500: 5.0,
 10525: 4.0,
 10528: 5.0,
 10529: 4.0,
 10569: 4.0,
 10570: 5.0,
 10586: 5.0,
 10597: 4.75,
 10620: 4.555555555555555,
 10633: 4.583333333333333,
 10648: 5.0,
 10654: 2.3333333333333335,
 10667: 4.333333333333333,
 10698: 4.818181818181818,
 10727: 4.75,
 10737: 3.0,
 10778: 5.0,
 10780: 4.5,
 10804: 5.0,
 10822: 3.5555555555555554,
 10825: 3.6,
 10837: 4.166666666666667,
 10853: 3.2857142857142856,
 10869: 5.0,
 10876: 4.0,
 10884: 4.0,
 10890: 0.0,
 10906: 4.0,
 10932: 3.0,
 10975: 1.0,
 10985: 1.0,
 11004: 4.75,
 11006: 4.0,
 11040: 4.518518518518518,
 11079: 5.0,
 11087: 4.5,
 11100: 1.0,
 11102: 5.0,
 11114: 5.0,
 11120: 4.666666666666667,
 11121: 4.111111111111111,
 11124: 4.8,
 11132: 4.5,
 11133: 4.666666666666667,
 11138: 4.631578947368421,
 11141: 4.222222222222222,
 11162: 4.6,
 11170: 3.5,
 11251: 4.5,
 11252: 4.384615384615385,
 11255: 5.0,
 11281: 4.666666666666667,
 11315: 0.0,
 11347: 4.708333333333333,
 11361: 4.0,
 11382: 5.0,
 11383: 1.0,
 11392: 2.5,
 11407: 5.0,
 11416: 3.0,
 11420: 4.695652173913044,
 11423: 5.0,
 11458: 4.888888888888889,
 11495: 4.0,
 11516: 4.428571428571429,
 11538: 4.645161290322581,
 11546: 4.333333333333333,
 11573: 5.0,
 11603: 4.0,
 11618: 5.0,
 11639: 4.333333333333333,
 11648: 5.0,
 11649: 4.2,
 11680: 0.0,
 11682: 2.6666666666666665,
 11702: 2.7142857142857144,
 11705: 3.0,
 11717: 4.4,
 11742: 3.0,
 11761: 5.0,
 11774: 2.0,
 11775: 5.0,
 11782: 4.75,
 11789: 3.962962962962963,
 11823: 5.0,
 11839: 4.25,
 11848: 4.4,
 11867: 4.0,
 11879: 5.0,
 11898: 5.0,
 11903: 4.666666666666667,
 11914: 4.444444444444445,
 11928: 5.0,
 11941: 5.0,
 11952: 4.875,
 11965: 5.0,
 11967: 5.0,
 11975: 5.0,
 12000: 4.5,
 12012: 5.0,
 12019: 5.0,
 12033: 3.611111111111111,
 12047: 5.0,
 12082: 5.0,
 12126: 5.0,
 12132: 1.0,
 12141: 5.0,
 12145: 5.0,
 12157: 4.230769230769231,
 12169: 4.0,
 12173: 4.666666666666667,
 12174: 4.0,
 12179: 5.0,
 12185: 5.0,
 12197: 5.0,
 12204: 5.0,
 12207: 4.7272727272727275,
 12213: 3.0,
 12272: 5.0,
 12276: 4.666666666666667,
 12300: 4.333333333333333,
 12313: 4.5625,
 12321: 4.5,
 12353: 4.111111111111111,
 12368: 5.0,
 12382: 4.0,
 12390: 4.0,
 12391: 4.333333333333333,
 12396: 4.611111111111111,
 12399: 4.277777777777778,
 12441: 5.0,
 12467: 3.0,
 12469: 4.454545454545454,
 12494: 4.0,
 12502: 5.0,
 12514: 4.666666666666667,
 12515: 3.5714285714285716,
 12524: 4.0,
 12534: 4.5,
 12548: 4.8,
 12561: 5.0,
 12563: 5.0,
 12584: 4.791666666666667,
 12623: 5.0,
 12632: 4.6,
 12638: 5.0,
 12643: 4.0,
 12644: 4.6,
 12667: 1.0,
 12672: 4.5,
 12706: 4.375,
 12710: 5.0,
 12724: 5.0,
 12737: 5.0,
 12741: 5.0,
 12780: 5.0,
 12782: 4.857142857142857,
 12791: 5.0,
 12805: 3.0,
 12811: 2.0,
 12830: 4.5,
 12839: 4.5,
 12840: 4.0,
 12845: 5.0,
 12883: 5.0,
 12886: 4.0,
 12892: 0.0,
 12900: 4.5,
 12920: 4.416666666666667,
 12954: 5.0,
 12957: 4.571428571428571,
 12974: 4.75,
 12980: 5.0,
 12990: 4.0,
 12997: 5.0,
 13007: 0.0,
 13017: 5.0,
 13042: 5.0,
 13073: 3.0,
 13075: 4.5,
 13081: 4.8,
 13085: 4.888888888888889,
 13088: 4.5,
 13117: 5.0,
 13128: 4.0,
 13134: 0.0,
 13173: 5.0,
 13177: 5.0,
 13181: 4.424242424242424,
 13216: 5.0,
 13217: 3.0,
 13220: 5.0,
 13223: 5.0,
 13225: 4.0,
 13261: 4.5,
 13280: 3.0,
 13293: 4.090909090909091,
 13315: 5.0,
 13320: 4.523809523809524,
 13342: 4.333333333333333,
 13347: 5.0,
 13349: 4.833333333333333,
 13353: 4.5,
 13366: 4.125,
 13374: 2.5,
 13385: 4.5,
 13398: 4.666666666666667,
 13414: 5.0,
 13438: 5.0,
 13456: 4.5,
 13459: 5.0,
 13489: 5.0,
 13492: 4.75,
 13507: 2.0,
 13511: 5.0,
 13557: 4.285714285714286,
 13559: 2.0,
 13565: 4.5,
 13580: 4.666666666666667,
 13598: 3.1666666666666665,
 13610: 4.714285714285714,
 13632: 4.636363636363637,
 13657: 3.3333333333333335,
 13675: 5.0,
 13703: 5.0,
 13707: 4.408163265306122,
 13709: 5.0,
 13716: 4.2,
 13717: 4.8,
 13736: 4.0,
 13770: 4.5,
 13780: 3.5,
 13794: 4.666666666666667,
 13800: 3.4,
 13804: 3.0,
 13814: 0.0,
 13816: 5.0,
 13854: 4.0,
 13867: 3.5,
 13882: 3.25,
 13890: 4.0,
 13896: 4.0,
 13904: 5.0,
 13922: 2.5,
 13927: 5.0,
 13950: 5.0,
 13984: 4.0,
 14008: 3.0,
 14011: 5.0,
 14021: 4.0,
 14026: 4.517241379310345,
 14031: 4.62962962962963,
 14035: 3.6666666666666665,
 14070: 4.541666666666667,
 14113: 5.0,
 14137: 4.545454545454546,
 14147: 2.5,
 14148: 3.3333333333333335,
 14149: 3.8,
 14192: 2.5,
 14193: 4.0,
 14198: 5.0,
 14217: 3.857142857142857,
 14228: 4.0,
 14245: 5.0,
 14258: 3.5555555555555554,
 14271: 4.0,
 14293: 5.0,
 14296: 4.0,
 14299: 5.0,
 14379: 4.0,
 14384: 4.884615384615385,
 14392: 2.0,
 14396: 4.052631578947368,
 14400: 4.5,
 14410: 4.428571428571429,
 14412: 4.7,
 14439: 5.0,
 14445: 5.0,
 14450: 5.0,
 14457: 4.64,
 14460: 5.0,
 14461: 4.9,
 14464: 4.333333333333333,
 14477: 5.0,
 14479: 5.0,
 14484: 4.4,
 14520: 4.678571428571429,
 14533: 4.5,
 14537: 4.033333333333333,
 14555: 4.0,
 14578: 4.75,
 14596: 4.0,
 14613: 3.5,
 14637: 5.0,
 14640: 5.0,
 14650: 4.0,
 14660: 4.666666666666667,
 14674: 4.0,
 14688: 5.0,
 14690: 5.0,
 14713: 5.0,
 14715: 2.5,
 14716: 4.666666666666667,
 14745: 5.0,
 14754: 5.0,
 14759: 4.0,
 14770: 4.555555555555555,
 14782: 5.0,
 14798: 5.0,
 14801: 3.6666666666666665,
 14818: 4.666666666666667,
 14834: 2.0,
 14835: 4.421052631578948,
 14858: 4.4,
 14859: 5.0,
 14872: 5.0,
 14873: 4.7,
 14889: 5.0,
 14895: 4.428571428571429,
 14896: 5.0,
 14898: 3.6666666666666665,
 14900: 5.0,
 14903: 4.875,
 14910: 4.545454545454546,
 14912: 3.5,
 14914: 5.0,
 14924: 4.0,
 14936: 2.0,
 14954: 4.666666666666667,
 14960: 4.6,
 14967: 4.411764705882353,
 14973: 5.0,
 14987: 2.0,
 14999: 5.0,
 15003: 4.7368421052631575,
 15012: 4.9,
 15060: 4.423076923076923,
 15074: 5.0,
 15075: 4.571428571428571,
 15086: 2.0,
 15104: 4.172413793103448,
 15109: 5.0,
 15121: 5.0,
 15128: 5.0,
 15129: 2.5,
 15148: 4.157894736842105,
 15156: 4.0,
 15175: 4.857142857142857,
 15195: 4.631578947368421,
 15242: 4.1510989010989015,
 15246: 5.0,
 15250: 5.0,
 15259: 5.0,
 15283: 4.714285714285714,
 15302: 4.75,
 15307: 5.0,
 15331: 5.0,
 15345: 4.415094339622642,
 15354: 5.0,
 15384: 4.0,
 15385: 4.8,
 15389: 4.533333333333333,
 15390: 5.0,
 15413: 4.5,
 15416: 4.366666666666666,
 15424: 3.5,
 15453: 5.0,
 15472: 5.0,
 15513: 4.0,
 15529: 4.583333333333333,
 15536: 5.0,
 15541: 5.0,
 15543: 2.5,
 15553: 4.571428571428571,
 15556: 5.0,
 15564: 5.0,
 15584: 4.615384615384615,
 15601: 5.0,
 15616: 5.0,
 15622: 4.0,
 15628: 5.0,
 15646: 4.565217391304348,
 15674: 5.0,
 15676: 4.0,
 15690: 4.571428571428571,
 15692: 4.888888888888889,
 15710: 3.2,
 15711: 5.0,
 15727: 5.0,
 15739: 3.8,
 15740: 4.5,
 15748: 5.0,
 15768: 5.0,
 15780: 5.0,
 15787: 5.0,
 15794: 5.0,
 15823: 5.0,
 15836: 4.333333333333333,
 15839: 3.6,
 15869: 4.375,
 15877: 5.0,
 15903: 5.0,
 15905: 5.0,
 15948: 5.0,
 15953: 4.0,
 16061: 4.933333333333334,
 16062: 5.0,
 16064: 3.0,
 16067: 4.862068965517241,
 16080: 4.8,
 16115: 4.391304347826087,
 16124: 3.5,
 16127: 5.0,
 16135: 4.333333333333333,
 16148: 4.0,
 16149: 4.857142857142857,
 16172: 3.0,
 16209: 4.777777777777778,
 16220: 4.0,
 16221: 4.9375,
 16227: 4.0,
 16235: 4.76,
 16252: 5.0,
 16262: 4.0,
 16274: 2.5,
 16278: 5.0,
 16296: 5.0,
 16301: 4.0,
 16342: 5.0,
 16343: 3.875,
 16346: 3.6666666666666665,
 16362: 5.0,
 16380: 4.666666666666667,
 16384: 5.0,
 16385: 4.4,
 16389: 3.75,
 16407: 3.5,
 16460: 4.75,
 16473: 5.0,
 16489: 4.625,
 16531: 3.825925925925926,
 16559: 4.857142857142857,
 16563: 2.0,
 16575: 4.6923076923076925,
 16585: 5.0,
 16591: 5.0,
 16598: 4.6,
 16622: 3.0,
 16679: 4.25,
 16685: 5.0,
 16692: 3.0,
 16696: 4.3,
 16718: 2.5,
 16728: 5.0,
 16738: 5.0,
 16746: 4.65,
 16752: 5.0,
 16771: 5.0,
 16777: 4.5,
 16796: 1.8,
 16797: 2.6666666666666665,
 16814: 4.5,
 16826: 4.384615384615385,
 16833: 5.0,
 16842: 5.0,
 16868: 4.0,
 16869: 4.0,
 16879: 4.333333333333333,
 16890: 5.0,
 16901: 3.925925925925926,
 16903: 5.0,
 16923: 4.5,
 16934: 5.0,
 16942: 4.0,
 16961: 4.0,
 16969: 4.5,
 16971: 5.0,
 16979: 3.0,
 16983: 4.666666666666667,
 16996: 5.0,
 17030: 5.0,
 17031: 4.65625,
 17043: 4.0,
 17073: 4.71875,
 17083: 4.605263157894737,
 17084: 5.0,
 17088: 4.5,
 17099: 5.0,
 17106: 3.25,
 17118: 4.64,
 17131: 5.0,
 17170: 5.0,
 17187: 4.666666666666667,
 17201: 4.333333333333333,
 17205: 4.6,
 17226: 2.125,
 17237: 4.0,
 17268: 3.0,
 17278: 4.0,
 17298: 4.5,
 17322: 4.0,
 17326: 4.424242424242424,
 17347: 4.333333333333333,
 17375: 4.2272727272727275,
 17388: 4.166666666666667,
 17397: 2.5,
 17398: 4.5,
 17412: 4.25,
 17416: 4.5,
 17417: 3.5,
 17418: 5.0,
 17433: 4.75,
 17442: 5.0,
 17443: 5.0,
 17457: 4.6,
 17466: 4.833333333333333,
 ...}

4.3 Посчитайте количество рецептов с разбивкой по годам создания.

In [22]:
import datetime as dt

# Добавляем новый столбец year в датафрейм recipes,
# содержащий год для каждого рецепта
recipes = recipes.assign(year=list(recipes['submitted'].dt.year))

# Создаем список уникальных годов из столбца year
a = sorted(list(set(list(recipes['year']))))

# Создаем словарь sort_by_year, содержащий количество рецептов для каждого года
sort_by_year = {}
for i in a:
    sort_by_year[i] = len(recipes[recipes['year'] == i])

sort_by_year

{1999: 275,
 2000: 104,
 2001: 589,
 2002: 2644,
 2003: 2334,
 2004: 2153,
 2005: 3130,
 2006: 3473,
 2007: 4429,
 2008: 4029,
 2009: 2963,
 2010: 1538,
 2011: 922,
 2012: 659,
 2013: 490,
 2014: 139,
 2015: 42,
 2016: 24,
 2017: 39,
 2018: 24}

### Объединение таблиц `pd.DataFrame`

5.1 При помощи объединения таблиц, создайте `DataFrame`, состоящий из четырех столбцов: `id`, `name`, `user_id`, `rating`. Рецепты, на которые не оставлен ни один отзыв, должны отсутствовать в полученной таблице. Подтвердите правильность работы вашего кода, выбрав рецепт, не имеющий отзывов, и попытавшись найти строку, соответствующую этому рецепту, в полученном `DataFrame`.

5.2 При помощи объединения таблиц и группировок, создайте `DataFrame`, состоящий из трех столбцов: `recipe_id`, `name`, `review_count`, где столбец `review_count` содержит кол-во отзывов, оставленных на рецепт `recipe_id`. У рецептов, на которые не оставлен ни один отзыв, в столбце `review_count` должен быть указан 0. Подтвердите правильность работы вашего кода, выбрав рецепт, не имеющий отзывов, и найдя строку, соответствующую этому рецепту, в полученном `DataFrame`.

5.3. Выясните, рецепты, добавленные в каком году, имеют наименьший средний рейтинг?

### Сохранение таблиц `pd.DataFrame`

6.1 Отсортируйте таблицу в порядке убывания величины столбца `name_word_count` и сохраните результаты выполнения заданий 3.1-3.3 в csv файл.

6.2 Воспользовавшись `pd.ExcelWriter`, cохраните результаты 5.1 и 5.2 в файл: на лист с названием `Рецепты с оценками` сохраните результаты выполнения 5.1; на лист с названием `Количество отзывов по рецептам` сохраните результаты выполнения 5.2.

#### [версия 2]
* Уточнены формулировки задач 1.1, 3.3, 4.2, 5.1, 5.2, 5.3